@charset "utf-8";
/* CSS Document */

html{
	height:100%;	
	overflow:hidden;
}

body{
	padding:0;
	margin:0;
	color:black;
	height:100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-white/*#23272a*/;
}

a{
	text-decoration:none;
	color:black;	
}

#nav{
	height:100%;
	width:250px;
	background-white/*#303537#23242a*/;
	border-right:2px solid black;
	position:fixed;
	top:0;
	float:left;
	letter-spacing: 3px;
	z-index:10;
}
#nav > p{
	padding:275px 40px 40px 40px;
	border-bottom:2px solid black;
}
#nav > ul{
	font-size:2rem;
	margin-top:25px;
	list-style-type:none;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	position:relative;
	top:240px;
	text-align:right;
}
#nav > ul > li{
	margin-bottom:10px;	
}
#nav a{
	text-decoration: underline;
	color:black;
}
#nav  .list-title{
	font-size:.5em;	
}
#nav-head{
	height:250px;
	width:250px;
	border-bottom:2px solid black;
	position:fixed;
	top:0;
	float:left;
	letter-spacing: -2px;
}
#nav-head p{
	text-align:center;	
	font-size:2rem;
}
#nav-head a{
	text-decoration:none;	
}
#nav-head > a >img{
	width:65%;
	margin-left:17.5%;
	margin-top:25px;
	border-radius:50%;
}
#nav-head > p{
	margin:10px;
}
.fa-caret-down{
	display:none;	
}
.fa-caret-up{
	display:none;	
}
#slide{
	position:relative;
	display:none;	
	background-color:white/*#23272a#23242a*/;
	height:500px;
	z-index:5;
	padding-bottom:20px;
}
#slide > ul{
	padding:0;
	margin:0;
	text-align:center;
	font-size:1rem;
	margin-top:25px;
	list-style-type:none;
}
#slide > ul > li{
	margin-bottom:5px;	
}
#slide a{
	text-decoration: underline;
	color:black;
}
#slide > p{
	text-align:center;
	line-height: 1.3em;
}
#slide > img{
	width:15%;
	margin-left:42.5%;
	margin-top:25px;
	border-radius:50%;
}



#content{
	padding:25px 150px;
	margin-left:250px;	
	width:calc(100% - 550px);
	height:95%;
	overflow-y:scroll;
	-moz-overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	text-align:justify;	
	background-color:white/*#23242d#23272a*/;
	z-index:0 ;
}
#content > article{
	padding-top:100px;	
	
	margin-bottom:100px;
	letter-spacing:3px;
}
#content > article > h1{
	text-decoration:underline;	
	padding-bottom:20px;
}
#content > .article-one{
	padding-top:0px;
	margin-top:0px;	
}
#content > .article-last{
	padding-bottom:300px;
}
#resume > a > .site{
	width:85%;
	margin-left:7.5%;
}
#websites a{
	text-decoration:underline;
	color:black;	
}
#site-grid{
	display:grid;
	grid-template-columns: auto auto;
	grid-template-rows:auto;
	grid-gap:20px;
}
.site{
	display:inline-grid;
	height:100%;
	background-color:white/*#33373a*/;
	box-shadow:15px 20px 5px black;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	
}
.site:hover{
	background-color:white/*#383c3f*/;
	box-shadow:10px 10px 2px black;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}
.site h1{
	text-align:center;	
	margin-bottom:0;
	padding:0;
	text-decoration:underline;
}
.site p{
	text-align:center;
	margin:15px;
}
@media(max-width:1100px){
	
	
	
}



@media (max-width:1100px){
	.hide{
		display:none !important	;
	}
	#nav{
		height:250px;
		width:100%;
		border-right:none;
		border-bottom:2px solid black;
		position:fixed;
		top:0;
		letter-spacing: 3px;
	}
	#nav > ul{
		padding:0;
		font-size:1.6rem;
		margin-top:0;
		margin-left:30px;
		list-style-type:none;
		display:inline-block;
		position:fixed;
		top:10px;
	}
	#nav-head{
		height:250px;
		width:250px;
		border-right:2px solid black;
		border-bottom:none;
		position:fixed;
		top:0;
		float:left;
		letter-spacing: -2px;
	}
	#nav > p{
		padding:0;
		margin: 60px 0px  0px 275px;
		width:150px;
		display:inline-block;
		border-bottom:none;
		
	}
	#content{
		padding:0 5% 0 5%;
		margin:0;
		position:fixed;
		top:250px;
		width:90%;
		height:calc(100% - 250px);
		overflow-y:scroll;
		-webkit-overflow-scrolling: touch;
		text-align:justify;	
		display:block;
	}
}

@media (max-width:1100px){
	#nav{
		height:95px;	
	}
	#nav > p{
		display:none;	
	}
	#nav > ul{
		display:none;	
	}
	#nav-head img{
		display:none;	
	}
	#nav-head{
		border-right:none;
		margin-left:calc((100% - 250px) * .5);
		height:auto;
	}
	#nav-head > p{
		margin:15px;
	}
	.fa-caret-down{
		display:inline-block;
	}
	#content{
		top:95px;
		height:calc(100% - 95px);
	}
	#site-grid{
		display:grid;
		grid-template-columns: auto;
		grid-gap:60px;
	}
}